* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-style: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  min-height: 100vh;
  margin: 30px;

  background-color: #222;
  background-image: url('./img/clear-day.jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Poor fix */
.atm-bg {
  background-image: url('./img/atmosphere.jpg');
}
.clear-day-bg {
  background-image: url('./img/clear-day.jpg');
}
.clear-night-bg {
  background-image: url('./img/clear-night.jpg');
}
.cloud-bg {
  background-image: url('./img/cloud.jpg');
}
.rain-bg {
  background-image: url('./img/rain.jpg');
}
.snow-bg {
  background-image: url('./img/snow.jpg');
}
.storm-bg {
  background-image: url('./img/storm.jpg');
}

/* End poor fix */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 80vw;

  border-radius: 18px;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 20px 0px;

  position: relative;
}

.main-info {
  padding-bottom: 10px;
}

.forecast-toggle {
  display: flex;
  justify-content: center;
}

.forecast-toggle button {
  color: #222;
  width: 100px;
  height: 30px;
}

.forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weekly {
  display: none;
}

.hourly {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}

.hour {
  border-bottom: 1px solid #222;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.1);
  width: 18vw;
  height: 28vw;
  padding: 1vw;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forecast .day {
  border-bottom: 1px solid #222;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.1);
  width: 60vw;
  padding: 1vw;
  margin: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast .day h3 {
  width: 50px;
}

.forecast .icon {
  height: 50px;
}

input {
  width: 50vw;
  height: 5vh;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

input:focus-visible {
  outline: none;
  border: 1px solid #222;
}

button {
  width: 40vw;
  height: 5vh;
  margin: 1vw;
  border: none;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.1);
}

.selected {
  background-color: rgba(34, 34, 34, 0.5);
  border: none;
  border-top: 1px solid rgba(34, 34, 34, 1);
  border-left: 2px solid rgba(34, 34, 34, 1);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.search-container button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-container button img {
  height: 20px;
}

.temp-conv-container {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
}

.temp-conv-container button {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  position: absolute;
  top: 3px;
  right: 3px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: rgba(34, 34, 34, 0.5);
  border: none;
  border-top: 1px solid rgba(34, 34, 34, 1);
  border-left: 2px solid rgba(34, 34, 34, 1);
}

#time {
  text-transform: none;
}

#flag {
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.7;
}

footer {
  margin-top: 20px;
}

@media screen and (min-width: 1000px) {
  .hourly {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .hour {
    width: 100px;
    height: 200px;
    padding: 1vw;
    margin: 3px;
  }

  .forecast .day {
    width: 25vw;
  }
}
